<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(item, i) in list">第一个值：{{item}}---第二个索引：{{i}}</li>
        </ul>

        <hr />
        <ul>
            <li v-for="(item) in list">{{item}}</li>
        </ul>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                list: [1,2,3,4,5]
            }
        })
    </script>
</body>
</html>