#code{
    overflow: visible;
}

#game{
    position: relative;
    left:0;
    top:0;
    overflow: visible;
    color: #ededed;
    background-color: #9E9C9C;
}
#game_message{
    position: absolute;
    left:100px;
    top:0px;
    z-index: 9955;
}
.display{
    display: none;
}
#game div{
    height:50px;
    width: 50px;
    position: absolute;
}
.wall{
    background:url("../imgs/wall.png");
    position: absolute;
    z-index: 0;
}
.floor{
    background:url("../imgs/floor.png");
    position: absolute;
    z-index: 0;
}
.box{   /*箱子*/
    background:url("../imgs/box.png");
    position: absolute;
    z-index: 4;
}
.seat{
    background:url("../imgs/seat.png");
    position: absolute;
    z-index: 3;
}
.boxOnSeat{
    background:url("../imgs/boxOnSeat.png");
    position: absolute;
}
.blank{
    background:url("../imgs/blank.png");
    position: absolute;
    z-index: 0;
}
.person{   /*人*/
    background:url("../imgs/person.png");
    position: absolute;
    z-index: 1;
}
#game:after{
    content: ".";
    display: block;
    height:0;
}
#messages{
    position: absolute;
    left:80%;
    top:20%;
}

.LevelMsg{
    font-size:20px;
    font-family: "Adobe 黑体 Std R";
    text-align: center;
}
.startLevel{
    position: absolute;
    z-index: 9999;
    background-color: #8080ff;
    left: 0;
    top: 0;
    font-size:30px;
    font-family: 黑体;
    text-align: center;
}